* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #f8f3f3;
    --primary-color: #4d0100;
    --secondary-color: #f5dca2;
    --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --secondary-text-color: white;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    height: 100%
}

.entire-container {
    display: flex;
    flex: 1;
}