header {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}

.top-row-header {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.subtitle {
    margin-top: 30px;
    margin-left: 30px;
}

button {
    color: black;
    background-color: var(--secondary-color);
    border-radius: 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 50px;
}

button:hover {
    box-shadow: rgba(39, 37, 37, 0.544) 5px 5px 8px;
}

.top-right-button {
    position: absolute;
    right: 50px;
}